@font-face {
   font-family: 'Kugile_Demo';
   font-display: swap;
   src: url('file:///C:/Users/KRISNA/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-11-28_193634/fonts/Kugile_Demo/font.ttf');
}
